.init-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-div{
    width: 90%;
    height: 250px;
    border-radius: 0 0 20px 20px;
    text-align: center;
}
.bg-animado-blue{
    background-color: #9b84b0;
    background-size: 600% 600%;
}
.welcome{
    color: white;
    margin-top: 80px;
}
.where{
    margin-top: 10px;
    font-weight: bold;
}
.decorative-divi{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.5;
    border: 1px solid #fbd037;
    margin-left: 10px;
}
.decorative-divi-2{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.5;
    border: 1px solid #fbeb37;
    margin-left: 80px;
}


.logo-home{
   width: 150px;
   height: 150px;   
}

@media screen and (min-width:375px) {
    .btn-apps{
        width: 340px;
    }
}
@media screen and (min-width:425px){
    .head-div{
        width: 360px;
    }
    .btn-apps{
        width: 360px;
    }
}
@media screen and (min-width:768px){
    .head-div{
        width: 560px;
        border-radius: 0 0 50px 50px;
    }
    .btn-apps{
        width: 460px;
    }
}
@media screen and (min-width:1024px){
    .head-div{
        width: 1000px;
        border-radius: 0 0 50px 50px;
    }
    .btn-apps{
        width: 460px;
        margin: 15px;
    }
    .welcome{
        font-size: 30px;
        color: white;
    }
    .where{
        font-size: 20px;
        color: #2B6C7E;
    }
    .decorative-div{
        width: 200px;
        height: 200px;
    }
    .logo-home{
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width:320px){
.circle-1{
    display: none;
}
.circle-2{
    display: none;
}
}
@media screen and (max-width:375px){
    .circle-1{
        display: none;
    }
    .circle-2{
        display: none;
    }
}
@media screen and (max-width:425px){
    .circle-1{
        display: none;
    }
    .circle-2{
        display: none;
    }
}