.init-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-div{
    width: 90%;
    height: 250px;
    border-radius: 0 0 20px 20px;
    text-align: center;
}
.bg-animado-blue{
    background-color: #FE651A;
    background: -webkit-linear-gradient(24deg, #f8993f, #ff832a, #fd5502);
    background: -moz-linear-gradient(24deg, #fba669, #ff9326, #ff5906);
    background: linear-gradient(24deg, #fd9449, #ff8528, #fc5806);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 48%}
    100%{background-position:0% 50%}
}

@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 48%}
    100%{background-position:0% 50%}
}
.welcome{
    color: white;
    margin-top: 80px;
}
.where{
    margin-top: 10px;
    font-weight: bold;
}
.decorative-divi{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.5;
    border: 1px solid #fbd037;
    margin-left: 10px;
}
.decorative-divi-2{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.5;
    border: 1px solid #fbeb37;
    margin-left: 80px;
}
.btns-apps{
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: #2B6C7E;
    -webkit-box-shadow: 7px 10px 41px -8px rgba(43,108,126,1);
-moz-box-shadow: 7px 10px 41px -8px rgba(43,108,126,1);
box-shadow: 7px 10px 41px -8px rgba(43,108,126,1);
}
.btn-apps{
    background-color: #2B6C7E;
    color: white;
    width: 300px;
    height: 50px;
    margin: 10px;
    border: 2px solid #93d9ec;
    border-radius: 0 15px 0 15px;
}
.btn-apps:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
                 inset -4px -4px 6px 0 rgba(255,255,255,.2),
                 inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
.logo-home{
   width: 150px;
   height: 150px;   
}
.circle-1{
    height: 100px;
    width: 100px;
    background-color: #ff8649;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    bottom: 200px;
    left: 200px;
    animation-duration: 8s;
    animation-name: slidein;
    opacity: 0.5;
    border: 1.5px solid yellow;
}
@keyframes slidein {
    from {
      margin-bottom: 10%;
    }
  
    to {
      margin-bottom: 0%;
    }
}
.circle-2{
    height: 200px;
    width: 200px;
    background-color: #ff5500;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    bottom: 50px;
    right: 180px;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: slidein2;
    opacity: 0.5;
    border: 2px solid yellow;
}
@keyframes slidein2 {
    from {
      margin-right: 10%;
    }
  
    to {
      margin-right: 0%;
    }
}
@media screen and (min-width:375px) {
    .btn-apps{
        width: 340px;
    }
}
@media screen and (min-width:425px){
    .head-div{
        width: 360px;
    }
    .btn-apps{
        width: 360px;
    }
}
@media screen and (min-width:768px){
    .head-div{
        width: 560px;
        border-radius: 0 0 50px 50px;
    }
    .btn-apps{
        width: 460px;
    }
}
@media screen and (min-width:1024px){
    .head-div{
        width: 1000px;
        border-radius: 0 0 50px 50px;
    }
    .btn-apps{
        width: 460px;
        margin: 15px;
    }
    .welcome{
        font-size: 30px;
        color: white;
    }
    .where{
        font-size: 20px;
        color: #2B6C7E;
    }
    .decorative-div{
        width: 200px;
        height: 200px;
    }
    .logo-home{
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width:320px){
.circle-1{
    display: none;
}
.circle-2{
    display: none;
}
}
@media screen and (max-width:375px){
    .circle-1{
        display: none;
    }
    .circle-2{
        display: none;
    }
}
@media screen and (max-width:425px){
    .circle-1{
        display: none;
    }
    .circle-2{
        display: none;
    }
}