.top-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.foto{
    width: 90%;
    height: 65%;
    margin-top: 5px;
    border: 1px solid #2B6C7E;
    border-radius: 10%;
}
.search{
    text-align: center;
}
::placeholder{
    color: #2B6C7E;
}

.h-1-top-apps{
    margin-top: 10px;
    text-align: center;
}
.tap{
    text-align: center;
}
.click{
    text-align: center;
}
.best-apps{
    height: 120px;
    width: 140px;
    margin: 5px;
   text-align: center;
   -webkit-box-shadow: 1px 1px 8px 2px #2B6C7E;
-moz-box-shadow: 1px 1px 8px 2px #2B6C7E;
box-shadow: 1px 1px 8px 2px #2B6C7E;
    
}
.next-top-apps{
    background-color: #2B6C7E;
    color: white;
    border: none;
    margin: 10px;
    height: 30px;
    width: 80px;
}
.btn-next-back{
    text-align: center;
}
.next-top-apps:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
                 inset -4px -4px 6px 0 rgba(255,255,255,.2),
                 inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.stars-rank{
    margin-bottom: 5px;
}
/*---------Responisve de vista create app-----------*/
@media screen and (max-width:375px){
    .App{
        background-color: aliceblue;
        width: 100%;     
    }
    .comentario-empresa{
        display: none;
    }
    .nombre-empresa{
        font-size: small;
    }
    .id-empresa{
        display: none;
    }
    .img-create{
        height: 100%;
        width: 100%;
    }
    .btn-success{
        margin: 5px;
    }
}
@media screen and (min-width:425px){
    .App{
        background-color: aliceblue;
        width: 100%;   
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .btn-success{
        width: 50%;
        margin: 5px;
    }
    .comentario-empresa{
        display: none;
    }
    .nombre-empresa{
        font-size: medium;
    }
   
    .img-create{
        height: 100%;
        width: 100%;
    }
}
@media screen and (min-width:768px){
    .App{
        background-color: aliceblue;
        width: 100%;   
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .btn-success{
        width: 50%;
        margin: 5px;
    }
  
    .nombre-empresa{
        font-size: medium;
    }
   
    .img-create{
        height: 50%;
        width: 50%;
    }
}
@media screen and (min-width:1024px){
    .App{
        background-color: aliceblue;
    }
    .btn-success{
        width: 250px;
    }
}
/*---------fin del responsive de create app-----------*/

@media screen and (min-width:375px){
    .best-apps{
       width: 150px;
       margin-left: 20px;
    }
    .next-top-apps{
        height: 35px;
        width: 85px;
    }
}
@media screen and (min-width:425px){
    .best-apps{
       width: 180px;
       margin-left: 10px;
    }
    .next-top-apps{
        height: 40px;
        width: 90px;
    }
}
@media screen and (min-width:768px){
    .best-apps{
       width: 200px;
       height: 200px;
       margin-left: 20px;
    }
    .next-top-apps{
        height: 40px;
        width: 200px;
    }
}
@media screen and (min-width:1024px){
    .best-apps{
       width: 210px;
       height: 210px;
       margin-left: 20px;
    }
    .next-top-apps{
        height: 50px;
        width: 250px;
    }
}
@media screen and (max-width:320px){
.click{
    display: none;
}
}
@media screen and (max-width:375px){
    .click{
        display: none;
    }
}
@media screen and (max-width:425px){
    .click{
        display: none;
    }
 }
 @media screen and (max-width:768px){
    .click{
        display: none;
    }
}
@media screen and (min-width:1024px){
    .tap{
        display: none;
    }
}
