@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto&display=swap');
.App{
    margin: 2%;
}
.logo{
    width: 100px;
}
/*===================
    Formulario
===================*/
.formhead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins';
}
<<<<<<< HEAD:src/components/Create/addapp.css
=======
#X{
    background-color: #F0F5F9;
    display: flex;
}
>>>>>>> 4cce555bd8a7862adf5d0ac24ec41c7e0f37c1fc:src/components/Create/createapp.css
.form{
    background-color: #D6E4E5;
    padding: 5%;

    font-family: Poppins;
}


@media (min-width: 319px) {

}

@media (min-width: 374px) {

}

@media (min-width: 424px) {

    
}

/*
@media (min-width: 319px) {

    h1{
        margin-top: 45%;
    }
}

@media (min-width: 374px) {
    h1{
        margin-top: 35%;
    }
    .app{
        margin-left: 23%;
    }
}

@media (min-width: 424px) {
    h1{
        margin-top: 33%;
    }
    .app{
        margin-top: 10%;
        margin-left: 26%;
    }
}

@media (min-width: 767px) {
    .title{
        font-size: x-large;
    }
    h1{
        margin-top: 20%;
    }
    .app{
        margin-top: 5%;
        margin-left: 17%;
        width: 500px;
        height: 500px;

        font-size: 20px;

        display: flex;
        text-align: center;
        align-items: stretch;
    }
    #form1{
        padding: 3%;
    }
    #form{
        padding: 3%;
    }
    label{
        margin-bottom: 1%;
        margin-left: 12%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    input{
        width: 380px;
        height: 25px;
    }
    .but{
        width: 280px;
        height: 60px;
        margin-left: 23%;

        font-size: 30px;
    }
}

@media (min-width: 1023px) {
    .title{
        font-size: xx-large;
    }
    .app{
        margin-left: 22%;
        width: 580px;
        height: 500px;
        padding-bottom: 20%;
    }
    label{
        margin-left: 8%;
    }
    input{
        width: 440px;
        height: 25px;
    }
    .but{
        width: 320px;
        height: 60px;
    }
}

@media (min-width: 1439px) {
    .title{
        font-size: xxx-large;
    }
    .app{
        margin-left: 15% !important;
        width: 1000px;
        height: 500px;
    }
    #form1{
        margin-top: 15%;
    }
    input{
        width: 800px;
        height: 35px;
    }
    .but{
        margin-top: 5% !important;
        width: 520px;
        height: 60px;
    }
}
*/